<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="REGRESSION SUITE" parallel="false">
	<listeners>
		<!--   <listener class-name="utility.Listener"></listener> -->
  		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
         <listener class-name="utility.ExtentListener"/>
	</listeners>

	<test name="Prescan Manual Invoices">
		<classes>
			<class name="test.java.PrescanManualInvoicesTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
